.side-nav{
    background-color: darkgray;
    height: 600px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;

}
.content {
    width: 100%;
    margin-left: 20px;
    margin-right: 35px;
}

.filter{
    font-size: larger;
    font-weight: bolder;
    background-color: coral;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

.filter:hover{
    cursor: pointer;
    color: black;
    background-color: crimson;
}